/*
    Importando fonte Roboto
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/*
    cores
*/
* {
  padding: 0;
  margin: 0;
}

.text-p {
  color: #8a8d98;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

@media screen and (max-width: 576px) {
  #buscaForm.w-75 {
    width: 100% !important;
  }
}

#card {
  margin-top: 10px;
  padding: 0;
  background-color: #141414;
  color: white;
  border-radius: 5px;
  height: 382.5px;
}

@media screen and (max-width: 576px) {
  #card {
    height: auto;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  #card {
    height: auto;
    padding-bottom: 10px;
  }
}

#card .row .col-md-4 img {
  height: 382.5px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

@media screen and (max-width: 960px) {
  #card .row .col-md-4 img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #card .row .col-md-4 img {
    width: 100%;
    height: 250px;
  }
}

@media screen and (max-width: 576px) {
  #card .row .col-md-4 img {
    width: 100%;
    height: 250px;
  }
}

#card .row .col-md-8 table {
  font-size: 35px;
}

#card .row .col-md-8 table td {
  font-size: 25px;
  padding-left: 18px;
}

@media screen and (max-width: 960px) {
  #card .row .col-xs-12 table {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  #card .row .col-xs-12 table {
    font-size: 24px;
    border-top: 2px solid #8a8d98;
  }
}

@media screen and (max-width: 576px) {
  #card .row .col-xs-12 table {
    font-size: 20px;
    border-top: 2px solid #8a8d98;
  }
}

@media screen and (max-width: 768px) {
  #card .row .col-xs-12 table th {
    padding: 10px;
  }
}

@media screen and (max-width: 576px) {
  #card .row .col-xs-12 table th {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  #card .row .col-xs-12 table td {
    font-size: 18px;
    padding: 5px;
  }
}

@media screen and (max-width: 576px) {
  #card .row .col-xs-12 table td {
    font-size: 13px;
    padding: 5px;
  }
}

@media screen and (max-width: 576px) {
  #card .row .col-xs-12 #detalhes {
    padding: 8px !important;
  }
}

#card .row .col-md-3 img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hidden {
  display: none;
}

.ativo {
  display: block;
}

.navbar {
  padding-left: 54px;
  padding-right: 54px;
}

.navbar a:hover {
  cursor: pointer;
  font-weight: bolder;
}

#resposta {
  font-size: 40px;
  font-weight: bolder;
  color: #6c757d;
}

#wrapper {
  padding-left: 54px;
  padding-right: 54px;
  background-color: #141414;
}

@media screen and (max-width: 576px) {
  #wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  #wrapper {
    width: 90%;
  }
}

#wrapper #ficha-filme {
  padding: 25px 25px 25px;
}

#wrapper #ficha-filme .col-md-6 p,
#wrapper #ficha-filme .col-sm-12 p {
  font-weight: bold;
}

#wrapper #ficha-filme .col-md-6 img,
#wrapper #ficha-filme .col-sm-12 img {
  width: 100%;
  height: 382.5px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

#wrapper #ficha-filme .col-md-6 #infos1 table tr th,
#wrapper #ficha-filme .col-sm-12 #infos1 table tr th {
  width: 100px;
  font-size: 20px;
  color: white;
  padding: 10px;
}

#wrapper #ficha-filme .col-md-6 #infos1 table tr td,
#wrapper #ficha-filme .col-sm-12 #infos1 table tr td {
  color: #8a8d98;
  font-weight: bold;
}

#wrapper #ficha-filme .col-md-6 .row #avaliacoes img,
#wrapper #ficha-filme .col-sm-12 .row #avaliacoes img {
  width: 50px;
  height: 50px;
}

#wrapper #ficha-filme .col-md-6 .row #avaliacoes h3,
#wrapper #ficha-filme .col-sm-12 .row #avaliacoes h3 {
  font-weight: bold;
}

#wrapper #ficha-filme .col-lg-4 img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 382.5px;
}

#wrapper #ficha-filme .col-xl-4 img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 573.75px;
}

@media screen and (max-width: 768px) {
  .navbar #navbarTogglerDemo01 #buscaForm {
    padding-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  .navbar #navbarTogglerDemo01 #buscaForm #name {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .navbar #navbarTogglerDemo01 #buscaForm #name {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */