/*
    Importando fonte Roboto
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

/*
    cores
*/

$preto: #141414;
$zerarPropriedade: 0;
$th_size: 35px;
$th_size_lg: 30px;
$th_size_sm: 20px;
$th_size_md: 24px;
$card_height: 382.5px;
$padding-left-right: 54px;
$p_color: #8a8d98;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 960px;
@mixin screen-min($min) {
    @media screen and (max-width: $min) {
        @content
    }
}

;
* {
    padding: $zerarPropriedade;
    margin: $zerarPropriedade;
}

.text-p {
    color: $p_color;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#buscaForm.w-75 {
    @include screen-min($screen-sm) {
        width: 100% !important;
    }
}

#card {
    margin-top: 10px;
    padding: $zerarPropriedade;
    background-color: $preto;
    color: white;
    border-radius: 5px;
    height: $card_height;
    @include screen-min($screen-sm) {
        height: auto;
        padding-bottom: 10px;
    }
    @include screen-min($screen-md) {
        height: auto;
        padding-bottom: 10px;
    }
    .row {
        .col-md-4 {
            img {
                height: $card_height;
                object-fit: cover;
                object-position: top;
                @include screen-min($screen-lg) {
                    width: 100%;
                }
                @include screen-min($screen-md) {
                    width: 100%;
                    height: 250px;
                }
                @include screen-min($screen-sm) {
                    width: 100%;
                    height: 250px;
                }
            }
        }
        .col-md-8 {
            table {
                font-size: $th_size;
                td {
                    font-size: 25px;
                    padding-left: 18px;
                }
            }
        }
        .col-xs-12 {
            table {
                @include screen-min($screen-lg) {
                    font-size: $th_size_lg;
                }
                @include screen-min($screen-md) {
                    font-size: $th_size_md;
                    border-top: 2px solid #8a8d98;
                }
                @include screen-min($screen-sm) {
                    font-size: $th_size_sm;
                    border-top: 2px solid #8a8d98;
                }
                th {
                    @include screen-min($screen-md) {
                        padding: 10px;
                    }
                    @include screen-min($screen-sm) {
                        padding: 10px;
                    }
                }
                td {
                    @include screen-min($screen-md) {
                        font-size: 18px;
                        padding: 5px;
                    }
                    @include screen-min($screen-sm) {
                        font-size: 13px;
                        padding: 5px;
                    }
                }
            }
            #detalhes {
                @include screen-min($screen-sm) {
                    padding: 8px !important;
                }
            }
        }
    }
}

#card .row .col-md-3 img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.hidden {
    display: none;
}

.ativo {
    display: block;
}

.navbar {
    padding-left: $padding-left-right;
    padding-right: $padding-left-right;
    a:hover {
        cursor: pointer;
        font-weight: bolder;
    }
}

#resposta {
    font-size: 40px;
    font-weight: bolder;
    color: $secondary;
}

#wrapper {
    padding-left: $padding-left-right;
    padding-right: $padding-left-right;
    background-color: $preto;
    @include screen-min($screen-sm) {
        padding-left: 0;
        padding-right: 0;
    }
    @include screen-min($screen-md) {
        width: 90%;
    }
    #ficha-filme {
        padding: 25px 25px 25px;
        .col-md-6,
        .col-sm-12 {
            p {
                font-weight: bold;
            }
            img {
                width: 100%;
                height: $card_height;
                object-fit: cover;
                border-radius: 5px;
                // border-top-left-radius: 5px;
                // border-top-right-radius: 5px;
            }
            #infos1 {
                table {
                    tr {
                        th {
                            width: 100px;
                            font-size: 20px;
                            color: white;
                            padding: 10px;
                        }
                        td {
                            color: $p_color;
                            font-weight: bold;
                        }
                    }
                }
            }
            .row {
                #avaliacoes {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                    h3 {
                        font-weight: bold;
                    }
                }
            }
        }
        .col-lg-4 {
            img {
                object-fit: cover;
                height: $card_height;
            }
        }
        .col-xl-4 {
            img {
                object-fit: cover;
                height: $card_height*1.5;
            }
        }
    }
}

.navbar {
    #navbarTogglerDemo01 {
        #buscaForm {
            @include screen-min($screen-md) {
                padding-top: 15px;
            }
            #name {
                @include screen-min($screen-md) {
                    width: 90%;
                }
                @include screen-min($screen-sm) {
                    width: 80%;
                }
            }
        }
    }
}