/*
    Importando fonte Roboto
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

/*
    cores
*/

$preto: #141414;
$zerarPropriedade: 0;
$th_size: 35px;
$card_height: 382.5px;
$padding-left-right: 54px;
* {
    padding: $zerarPropriedade;
    margin: $zerarPropriedade;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#card {
    margin-top: 10px;
    padding: $zerarPropriedade;
    background-color: $preto;
    color: white;
    border-radius: 5px;
    height: $card_height;
}

#card {
    .row {
        .col-md-3 {
            img {
                height: $card_height;
                object-fit: cover;
            }
        }
        .col-md-9 {
            table {
                font-size: $th_size;
                td {
                    font-size: 25px;
                    padding-left: 18px;
                }
            }
        }
    }
}

#card .row .col-md-3 img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.hidden {
    display: none;
}

.ativo {
    display: block;
}

.navbar {
    padding-left: $padding-left-right;
    padding-right: $padding-left-right;
    a:hover {
        cursor: pointer;
        font-weight: bolder;
    }
}

#wrapper {
    padding-left: $padding-left-right;
    padding-right: $padding-left-right;
    background-color: $preto;
    #ficha-filme {
        padding: 25px 25px 25px;
        .col-md-6,
        .col-sm-12 {
            p {
                font-weight: bold;
            }
            img {
                width: 100%;
                height: $card_height;
                object-fit: cover;
                border-radius: 5px;
                // border-top-left-radius: 5px;
                // border-top-right-radius: 5px;
            }
            #infos1 {
                table {
                    tr {
                        th {
                            width: 100px;
                            font-size: 20px;
                            color: white;
                            padding: 10px;
                        }
                        td {
                            color: $secondary;
                            font-weight: bold;
                        }
                    }
                }
            }
            .row {
                #avaliacoes {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                    h3 {
                        font-weight: bold;
                    }
                }
            }
        }
        .col-lg-4 {
            img {
                object-fit: cover;
                height: $card_height;
            }
        }
        .col-xl-4 {
            img {
                object-fit: cover;
                height: $card_height*1.5;
            }
        }
    }
}